<% include ../include/dash_header %>
<<<<<<< HEAD
<!-- partial -->
<div class="main-panel">
  <div class="content-wrapper">
    <div class="row">
      <div class="col-sm-12">
        <div class="home-tab">
          <div class="d-sm-flex align-items-center justify-content-between border-bottom">
            <ul class="nav nav-tabs" role="tablist">
              <li class="nav-item">
                <a class="nav-link active ps-0" id="home-tab" data-bs-toggle="tab" href="#overview" role="tab" aria-controls="overview" aria-selected="true">진행 사항</a>
              </li>
              <li class="nav-item">
                <select id = "cropSelecor" class="form-select" aria-label="Default select example" style="border: 1px solid transparent;; background-color: transparent; font-size: 14px;">
                  <option selected>선택하시오</option>
                  <% for (var i = 0; i < db_data.length; i++ ) { %>
                    <option value="<%= db_data[i].cropsName %>"><%= db_data[i].cropsName %> [<%= db_data[i].categoryName %>]</option>
                  <% } %>
                </select>
              </li>

            </ul>

            <div>
              <div class="btn-wrapper">
                <a href="#" class="btn btn-otline-dark align-items-center"><i class="icon-share"></i> 공유</a>
                <a href="#" class="btn btn-otline-dark"><i class="icon-printer"></i> 프린트</a>
                <a href="#" class="btn btn-primary text-white me-0"><i class="icon-download"></i> 사진</a>
              </div>
            </div>
          </div>
          <div class="tab-content tab-content-basic">
            <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview">
              <div class="row">
                <div class="col-sm-12">
                  <div class="statistics-details d-flex align-items-center justify-content-between">
                    <div>
                      <p class="statistics-title">총 성장 진행률</p>
                      <h3 class="rate-percentage" id="avgPercent"> - </h3>
                    </div>
                    <div>
                      <p class="statistics-title">수확 예정일</p>
                      <h3 class="rate-percentage" id="nearHavestDate"> - </h3>
                    </div>
                    <div>
                      <p class="statistics-title">총 수확 진행률</p>
                      <h3 class="rate-percentage" id="totalYieldPercent"> - </h3>
                    </div>
                    <div class="d-none d-md-block">
                      <p class="statistics-title">병 해충 발생 건수</p>
                      <h3 class="rate-percentage" id="totalDiseaseCount"> - </h3>
                    </div>
                    <div class="d-none d-md-block">
                      <p class="statistics-title">총 피해 농작물</p>
                      <h3 class="rate-percentage" id="damagedCropsCount"> - </h3>
                    </div>
                    <div class="d-none d-md-block">
                      <p class="statistics-title"></p>
                      <h3 class="rate-percentage"></h3>
                      <p class="text-success d-flex"><span></span></p>
=======
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-sm-12">
              <div class="home-tab">
                <div class="d-sm-flex align-items-center justify-content-between border-bottom">
                  <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link active ps-0" id="home-tab" data-bs-toggle="tab" href="#overview" role="tab" aria-controls="overview" aria-selected="true">진행 사항</a>
                    </li>
                    <li class="nav-item">
                      <select id = "cropSelecor"class="form-select" aria-label="Default select example" style="background-color:transparent;  border-width: 0;"">
                        <option selected>선택하시오</option>
                        <% for (var i = 0; i < ListData.length; i++ ) { %>
                          <option value="<%= ListData[i].cropsName %>"><%= ListData[i].cropsName %> [<%= ListData[i].categoryName %>]</option>
                        <% } %>
                      </select>                    
                    </li>
                  </ul>
                  <div>
                    <div class="btn-wrapper">
                      <a href="#" class="btn btn-otline-dark align-items-center"><i class="icon-share"></i> 공유</a>
                      <a href="#" class="btn btn-otline-dark"><i class="icon-printer"></i> 프린트</a>
                      <a href="#" class="btn btn-primary text-white me-0"><i class="icon-download"></i> 사진</a>
>>>>>>> 6a8359d4c9d20553699a0b62fae6b9574c82b162
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-8 d-flex flex-column">
                  <div class="row flex-grow">
                    <div class="col-12 col-lg-4 col-lg-12 grid-margin stretch-card">
                      <div class="card card-rounded">
                        <div class="card-body">
                          <div class="d-sm-flex justify-content-between align-items-start">
                            <div>
                              <h4 class="card-title card-title-dash">일별 농작물 성장률 및 병 해충 발생률</h4>
                              <h5 class="card-subtitle card-subtitle-dash">일별 농작물 성장률과 병 해충 발생률을 확인해 주세요 !</h5>
                            </div>
                            <div id="performance-line-legend"></div>
                          </div>
                          <div class="chartjs-wrapper mt-5">
                            <canvas id="performaneLine"></canvas>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 d-flex flex-column" id="weatherArea">
                  <div class="row flex-grow">
                    <div class="col-md-6 col-lg-12 grid-margin stretch-card">
                      <div class="card bg-primary card-rounded">
                        <div class="card-body pb-0">
                          <h4 class="card-title card-title-dash text-white mb-4">오늘의 날씨</h4>
                          <div class="row">
                            <div class="col-sm-4">
                              <p class="status-summary-ight-white mb-1" id="locate">-</p>
                              <h2 class="text-info" id="temp">0 ℃</h2>
                            </div>
                            <div class="col-sm-8">
                              <div class="status-summary-chart-wrapper pb-4">
                                <canvas id="status-summary"></canvas>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 col-lg-12 grid-margin stretch-card">
                      <div class="card card-rounded">
                        <div class="card-body">
                          <div class="row">
                            <div class="col-sm-6">
                              <div class="d-flex justify-content-between align-items-center mb-2 mb-sm-0">
                                <div class="circle-progress-width">
                                  <div id="totalVisitors" class="progressbar-js-circle pr-2"></div>
                                </div>
                                <div>
                                  <p class="text-small mb-2">강수량</p>
                                  <h4 class="mb-0 fw-bold" id="rain">0 %</h4>
                                </div>
                              </div>
                            </div>
                            <div class="col-sm-6">
                              <div class="d-flex justify-content-between align-items-center">
                                <div class="circle-progress-width">
                                  <div id="visitperday" class="progressbar-js-circle pr-2"></div>
                                </div>
                                <div>
                                  <p class="text-small mb-2">풍속</p>
                                  <h4 class="mb-0 fw-bold" id="windspeed">0 m/s</h4>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
<<<<<<< HEAD
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-8 d-flex flex-column">
                  <div class="row flex-grow">
                    <div class="col-12 grid-margin stretch-card">
                      <div class="card card-rounded">
                        <div class="card-body">
                          <div class="d-sm-flex justify-content-between align-items-start">
                            <div>
                              <h4 class="card-title card-title-dash">재배 종목 진행사항</h4>
                              <p class="card-subtitle card-subtitle-dash">현재 재배 종목 진행률을 파악하세요.</p>
                            </div>
                            <div>
                              <button class="btn btn-primary btn-lg text-white mb-0 me-0" type="button"><i class="mdi mdi-leaf"></i>농작물 추가</button>
                            </div>
                          </div>
                          <div class="table-responsive  mt-1">
                            <table class="table select-table">
                              <thead>
                              <tr>
                                <th>
                                  <div class="form-check form-check-flat mt-0">
                                    <label class="form-check-label">
                                      <input type="checkbox" class="form-check-input" aria-checked="false"><i class="input-helper"></i></label>
                                  </div>
                                </th>
                                <th>종목</th>
                                <th>농사 시작일</th>
                                <th>진행률</th>
                                <th>상태</th>
                              </tr>
                              </thead>
                              <tbody>
                              <tr>
                                <td>
                                  <div class="form-check form-check-flat mt-0">
                                    <label class="form-check-label">
                                      <input type="checkbox" class="form-check-input" aria-checked="false"><i class="input-helper"></i></label>
                                  </div>
                                </td>
                                <td>
                                  <div class="d-flex ">
                                    <img src="../dash_assets/images/faces/face1.jpg" alt="">
                                    <div>
                                      <h6>양배추</h6>
                                    </div>
                                  </div>
                                </td>
                                <td>
                                  <h6>2021. 08. 18</h6>
                                </td>
                                <td>
                                  <div>
                                    <div class="d-flex justify-content-between align-items-center mb-1 max-width-progress-wrap">
                                      <p class="text-success">80%</p>
                                    </div>
                                    <div class="progress progress-md">
                                      <div class="progress-bar bg-success" role="progressbar" style="width: 85%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                  </div>
                                </td>
                                <td><div class="badge badge-opacity-warning">진행중</div></td>
                              </tr>
                              <tr>
                                <td>
                                  <div class="form-check form-check-flat mt-0">
                                    <label class="form-check-label">
                                      <input type="checkbox" class="form-check-input" aria-checked="false"><i class="input-helper"></i></label>
                                  </div>
                                </td>
                                <td>
                                  <div class="d-flex">
                                    <img src="../dash_assets/images/faces/face2.jpg" alt="">
                                    <div>
                                      <h6>토마토</h6>
                                    </div>
                                  </div>
                                </td>
                                <td>
                                  <h6>2021. 08. 21</h6>
                                </td>
                                <td>
                                  <div>
                                    <div class="d-flex justify-content-between align-items-center mb-1 max-width-progress-wrap">
                                      <p class="text-success">65%</p>
                                    </div>
                                    <div class="progress progress-md">
                                      <div class="progress-bar bg-success" role="progressbar" style="width: 65%" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                  </div>
                                </td>
                                <td><div class="badge badge-opacity-warning">진행중</div></td>
                              </tr>
                              <tr>
                                <td>
                                  <div class="form-check form-check-flat mt-0">
                                    <label class="form-check-label">
                                      <input type="checkbox" class="form-check-input" aria-checked="false"><i class="input-helper"></i></label>
                                  </div>
                                </td>
                                <td>
                                  <div class="d-flex">
                                    <img src="../dash_assets/images/faces/face3.jpg" alt="">
                                    <div>
                                      <h6>콩</h6>
                                    </div>
                                  </div>
                                </td>
                                <td>
                                  <h6>2021. 08. 30</h6>
                                </td>
                                <td>
                                  <div>
                                    <div class="d-flex justify-content-between align-items-center mb-1 max-width-progress-wrap">
                                      <p class="text-success">65%</p>
                                    </div>
                                    <div class="progress progress-md">
                                      <div class="progress-bar bg-warning" role="progressbar" style="width: 38%" aria-valuenow="38" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                  </div>
                                </td>
                                <td><div class="badge badge-opacity-warning">진행중</div></td>
                              </tr>
                              <tr>
                                <td>
                                  <div class="form-check form-check-flat mt-0">
                                    <label class="form-check-label">
                                      <input type="checkbox" class="form-check-input" aria-checked="false"><i class="input-helper"></i></label>
                                  </div>
                                </td>
                                <td>
                                  <div class="d-flex">
                                    <img src="../dash_assets/images/faces/face4.jpg" alt="">
                                    <div>
                                      <h6>방울 토마토</h6>
                                    </div>
                                  </div>
                                </td>
                                <td>
                                  <h6>2021. 08. 25</h6>
                                </td>
                                <td>
                                  <div>
                                    <div class="d-flex justify-content-between align-items-center mb-1 max-width-progress-wrap">
                                      <p class="text-success">65%</p>
                                    </div>
                                    <div class="progress progress-md">
                                      <div class="progress-bar bg-danger" role="progressbar" style="width: 15%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                  </div>
                                </td>
                                <td><div class="badge badge-opacity-danger">취소</div></td>
                              </tr>
                              <tr>
                                <td>
                                  <div class="form-check form-check-flat mt-0">
                                    <label class="form-check-label">
                                      <input type="checkbox" class="form-check-input" aria-checked="false"><i class="input-helper"></i></label>
                                  </div>
                                </td>
                                <td>
                                  <div class="d-flex">
                                    <img src="../dash_assets/images/faces/face5.jpg" alt="">
                                    <div>
                                      <h6>상추</h6>
                                    </div>
                                  </div>
                                </td>
                                <td>
                                  <h6>2021. 09. 01</h6>
                                </td>
                                <td>
                                  <div>
                                    <div class="d-flex justify-content-between align-items-center mb-1 max-width-progress-wrap">
                                      <p class="text-success">65%</p>
                                    </div>
                                    <div class="progress progress-md">
                                      <div class="progress-bar bg-success" role="progressbar" style="width: 65%" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
=======
                     <div class="row">
                      <div class="col-lg-8 d-flex flex-column">
                        <div class="row flex-grow">
                          <div class="col-12 grid-margin stretch-card">
                            <div class="card card-rounded">
                              <div class="card-body">
                                <div class="d-sm-flex justify-content-between align-items-start">
                                  <div>
                                    <h4 class="card-title card-title-dash">재배 종목 진행사항</h4>
                                   <p class="card-subtitle card-subtitle-dash">현재 재배 종목 진행률을 파악하세요.</p>
                                  </div>
                                  <div>
                                    <button class="btn btn-primary btn-lg text-white mb-0 me-0" type="button"><i class="mdi mdi-leaf"></i>농작물 더보기</button>
                                  </div>
                                </div>
                                <div class="table-responsive  mt-1">
                                  <table class="table select-table">
                                    <thead>
                                      <tr>
                                        <th>
                                          <div class="form-check form-check-flat mt-0">
                                            <label class="form-check-label">
                                              <input type="checkbox" class="form-check-input" aria-checked="false"><i class="input-helper"></i></label>
                                          </div>
                                        </th>
                                        <th>종목</th>
                                        <th>농사 시작일</th>
                                        <th>진행률</th>
                                        <th>상태</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <% for (var i = 0; i < PercentData.length; i++) { %>
                                      <tr>
                                        <td>
                                          <div class="form-check form-check-flat mt-0">
                                            <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input" aria-checked="false"><i class="input-helper"></i></label>
                                          </div>
                                        </td>
                                        <td>
                                          <div class="d-flex ">
                                            <div>
                                              <h6><%= PercentData[i].cropsName %></h6>
                                            </div>
                                          </div>
                                        </td>
                                        <td>
                                          <h6><%= PercentData[i].cropsStart %></h6>
                                        </td>
                                        <td>
                                          <div>
                                            <div class="d-flex justify-content-between align-items-center mb-1 max-width-progress-wrap">
                                              <p class="text-success"><%= PercentData[i].percent %></p>
                                            </div>
                                            <div class="progress progress-md">
                                              <div class="progress-bar bg-success" role="progressbar" style="width: <%= PercentData[i].percent %>%" aria-valuenow="<%= PercentData[i].percent %>" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                          </div>
                                        </td>
                                        <td> 
                                          <% if (PercentData[i].percent >= 100) {%>
                                            <div class="badge badge-opacity-warning">완료</div>                                         \
                                          <% } else { %>
                                            <div class="badge badge-opacity-warning">진행중</div>
                                          <% } %>
                                        </td>
                                      </tr>
                                      <% } %>
                                    </tbody>
                                  </table>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row flex-grow">
                          <div class="col-md-6 col-lg-6 grid-margin stretch-card">
                            <div class="card card-rounded">
                              <div class="card-body card-rounded">
                                <h4 class="card-title  card-title-dash">농작물 재배 현황</h4>
                                
                                <% for (var i = 0; i < FinishData.length; i++ ) { %>
                                  <div class="list align-items-center border-bottom py-2">
                                  <div class="wrapper w-100">
                                    <p class="mb-2 font-weight-medium">
                                      <%= FinishData[i].cropsName %>
                                    </p>
                                    <div class="d-flex justify-content-between align-items-center">
                                      <div class="d-flex align-items-center">
                                        <i class="mdi mdi-calendar text-muted me-1"></i>
                                        <p class="mb-0 text-small text-muted"><%= FinishData[i].cropsEnd %></p>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <% } %>
                                <div class="list align-items-center pt-3">
                                  <div class="wrapper w-100">
                                    <p class="mb-0">
                                      <a href="#" class="fw-bold text-primary">전체 보기<i class="mdi mdi-arrow-right ms-2"></i></a>
                                    </p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6 col-lg-6 grid-margin stretch-card">
                            <div class="card card-rounded">
                              <div class="card-body">
                                <div class="d-flex align-items-center justify-content-between mb-3">
                                  <h4 class="card-title card-title-dash">병ㆍ해충 발생 현황</h4>
                                </div>
                                <ul class="bullet-line-list">
                                  <% for (var i = 0; i < DiseaseData.length; i++) { %>
                                  <li>
                                    <div class="d-flex justify-content-between">
                                      <div><span class="text-light-green"><%= DiseaseData[i].cdName %></span></div>
                                      <p><%= DiseaseData[i].cropsDate %></p>
                                    </div>
                                  </li>
                                  <% } %>
                                </ul>
                                <div class="list align-items-center pt-3">
                                  <div class="wrapper w-100">
                                    <p class="mb-0">
                                      <a href="#" class="fw-bold text-primary">전체 보기<i class="mdi mdi-arrow-right ms-2"></i></a>
                                    </p>
>>>>>>> 6a8359d4c9d20553699a0b62fae6b9574c82b162
                                  </div>
                                </td>
                                <td><div class="badge badge-opacity-success">완료</div></td>
                              </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row flex-grow">
                    <div class="col-md-6 col-lg-6 grid-margin stretch-card">
                      <div class="card card-rounded">
                        <div class="card-body card-rounded">
                          <h4 class="card-title  card-title-dash">농작물 재배 현황</h4>
                          <div class="list align-items-center border-bottom py-2">
                            <div class="wrapper w-100">
                              <p class="mb-2 font-weight-medium">
                                토마토 재배
                              </p>
                              <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex align-items-center">
                                  <i class="mdi mdi-calendar text-muted me-1"></i>
                                  <p class="mb-0 text-small text-muted">2021년 8월 18일</p>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="list align-items-center border-bottom py-2">
                            <div class="wrapper w-100">
                              <p class="mb-2 font-weight-medium">
                                양배추 재배
                              </p>
                              <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex align-items-center">
                                  <i class="mdi mdi-calendar text-muted me-1"></i>
                                  <p class="mb-0 text-small text-muted">2021년 8월 11일</p>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="list align-items-center border-bottom py-2">
                            <div class="wrapper w-100">
                              <p class="mb-2 font-weight-medium">
                                양상추 재배
                              </p>
                              <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex align-items-center">
                                  <i class="mdi mdi-calendar text-muted me-1"></i>
                                  <p class="mb-0 text-small text-muted">2021년 8월 13일</p>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="list align-items-center border-bottom py-2">
                            <div class="wrapper w-100">
                              <p class="mb-2 font-weight-medium">
                                콩 재배
                              </p>
                              <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex align-items-center">
                                  <i class="mdi mdi-calendar text-muted me-1"></i>
                                  <p class="mb-0 text-small text-muted">2021년 8월 21일</p>
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="list align-items-center pt-3">
                            <div class="wrapper w-100">
                              <p class="mb-0">
                                <a href="#" class="fw-bold text-primary">전체 보기<i class="mdi mdi-arrow-right ms-2"></i></a>
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 col-lg-6 grid-margin stretch-card">
                      <div class="card card-rounded">
                        <div class="card-body">
                          <div class="d-flex align-items-center justify-content-between mb-3">
                            <h4 class="card-title card-title-dash">병ㆍ해충 발생 현황</h4>
                          </div>
                          <ul class="bullet-line-list">
                            <li>
                              <div class="d-flex justify-content-between">
                                <div><span class="text-light-green">고추 탄저병</span></div>
                                <p>21. 07. 18</p>
                              </div>
                            </li>
                            <li>
                              <div class="d-flex justify-content-between">
                                <div><span class="text-light-green">애호박 노균병</span></div>
                                <p>21. 08. 18</p>
                              </div>
                            </li>
                            <li>
                              <div class="d-flex justify-content-between">
                                <div><span class="text-light-green">양배추 균핵병</span></div>
                                <p>21. 07. 18</p>
                              </div>
                            </li>
                            <li>
                              <div class="d-flex justify-content-between">
                                <div><span class="text-light-green">오이 노균병</span></div>
                                <p>21. 09. 28</p>
                              </div>
                            </li>
                            <li>
                              <div class="d-flex justify-content-between">
                                <div><span class="text-light-green">콩불 마른병</span></div>
                                <p>21. 11. 18</p>
                              </div>
                            </li>
                            <li>
                              <div class="d-flex justify-content-between">
                                <div><span class="text-light-green">토마토 잎마름병</span></div>
                                <p>21. 03. 18</p>
                              </div>
                            </li>
                            <li>
                              <div class="d-flex justify-content-between">
                                <div><span class="text-light-green">호박 노균병</span></div>
                                <p>21. 02. 18</p>
                              </div>
                            </li>
                          </ul>
                          <div class="list align-items-center pt-3">
                            <div class="wrapper w-100">
                              <p class="mb-0">
                                <a href="#" class="fw-bold text-primary">전체 보기<i class="mdi mdi-arrow-right ms-2"></i></a>
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 d-flex flex-column">
                  <div class="row flex-grow">
                    <div class="col-12 grid-margin stretch-card">
                      <div class="card card-rounded">
                        <div class="card-body">
                          <div class="row">
                            <div class="col-lg-12">
                              <div class="d-flex justify-content-between align-items-center mb-3">
                                <h4 class="card-title card-title-dash">재배 종목별 그래프</h4>
                              </div>
                              <canvas class="my-auto" id="doughnutChart" height="200"></canvas>
                              <div id="doughnut-chart-legend" class="mt-5 text-center"></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row flex-grow">
                    <div class="col-12 grid-margin stretch-card">
                      <div class="card card-rounded">
                        <div class="card-body">
                          <div class="row">
                            <div class="col-lg-12">
                              <div class="d-flex justify-content-between align-items-center mb-3">
                                <div>
                                  <h4 class="card-title card-title-dash">피해 농작물 발생 현황</h4>
                                </div>
                                <div>
                                  <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle toggle-dark btn-lg mb-0 me-0" type="button" id="dropdownMenuButton3" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 주간 </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton3">
                                      <h6 class="dropdown-header">8월</h6>
                                      <a class="dropdown-item" href="#">1주</a>
                                      <a class="dropdown-item" href="#">2주</a>
                                      <a class="dropdown-item" href="#">3주</a>
                                      <a class="dropdown-item" href="#">4주</a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="mt-3">
                                <canvas id="leaveReport"></canvas>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
<<<<<<< HEAD
      </div>
    </div>
  </div>

  <script type = "text/javascript"
          src = "http://maps.googleapis.com/maps/api/js?sensor=true">
  </script>
  <script>
    $(document).ready(function (){
      console.log("로딩다됨")
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(
                function (location) {
                  //succ - 유저가 허용버튼을 클릭하여 값을 가져올 수 있는 상태
                  var lat = location.coords.latitude;
                  var lon = location.coords.longitude;
                  $.ajax({
                    url: '/dash/getWayWeather',
                    type: 'POST',
                    data: {lat: lat, lon: lon,},
                    success: function (data) {
                      $("#temp").text(data.result.temp + " ℃");
                      $("#rain").text(data.result.rain + " %");
                      $("#windspeed").text(data.result.windspeed + " m/s");
                    }
                  });
                },
                function (error) {
                  //fail - 유저가 차단버튼을 클릭하여 값을 가져올 수 없는 상태
                }
        );
      } else {
        //fail - 애초에 GPS 정보를 사용할 수 없는 상태
      }
    })

    $("#cropSelecor").on("change", function(){
      $.ajax({
        url:"/dash/Header",
        type:"POST",
        data: {cropsName : this.value},
        success:function(db_data){
          console.log("온도", db_data.result.temp)
          $("#avgPercent").text(db_data.result.avgPercent+ "%");
          $("#nearHavestDate").text(db_data.result.nearHavestDate);
          $("#totalYieldPercent").text(db_data.result.totalYieldPercent+"%");
          $("#totalDiseaseCount").text(db_data.result.totalDiseaseCount);
          $("#damagedCropsCount").text(db_data.result.damagedCropsCount);
          $("#locate").text(db_data.result.locate);
          $("#temp").text(db_data.result.temp + " ℃");
          $("#rain").text(db_data.result.rain + " %");
          $("#windspeed").text(db_data.result.windspeed + " m/s");

        }
      })
    })
  </script>
=======
        <script>
          $("#cropSelecor").on("change", function(){
            $.ajax({
                url:"/dash/Header",
                type:"POST",
                data: {cropsName : this.value},
                success:function(db_data){
                  $("#avgPercent").text(db_data.result.avgPercent+ "%");
                  $("#nearHavestDate").text(db_data.result.nearHavestDate);
                  $("#totalYieldPercent").text(db_data.result.totalYieldPercent+"%");
                  $("#totalDiseaseCount").text(db_data.result.totalDiseaseCount);
                  $("#damagedCropsCount").text(db_data.result.damagedCropsCount);
            }
          })
        })
        
        </script>
>>>>>>> 6a8359d4c9d20553699a0b62fae6b9574c82b162


<% include ../include/dash_footer_main %>