<% include ../include/dash_header %>

    <!-- partial -->
    <div class="main-panel">
      <div class="content-wrapper">
        <div class="row">
          <div class="col-lg-12 grid-margin stretch-card">
            <div class="card" style = "margin: 50px 0 80px 0">
                <div class="card-body">
                    <h4 class="card-title" style = "margin: 30px 0 0 0; font-size: 30px; color: rgb(145, 72, 72);">병해충 발생 현황&nbsp;<i class="mdi mdi mdi-bug"></i></h4>
                  <p class="card-description" style = "margin: 0.8rem 0 0 0">
                    현재 발생하고 있는 병해충를 확인해보세요.
                  </p>
                  <div class="table-responsive" style = "margin: 25px 0 20px 0">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th class="col-md-1">
                            번호
                          </th>
                          <th class="col-md-2">
                            농작물 종류
                          </th>
                          <th class="col-md-2">
                            농작물 이름
                          </th>
                          <th class="col-md-2">
                            병ㆍ해충
                          </th>
                          <th class="col-md-2">
                            날짜
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <% for(var i =(p_num - 1) * max_value; i < p_num * max_value; i++){ %>
                          <% var data_value=db_data[i]; if(data_value===undefined){ continue; } %>
                          <tr onclick="location.href='/dash/pest/<%= data_value.pid %>'">
                          <td>
                            <%= data_value.pid %>
                          </td>
                          <td>
                            <%= data_value.cropsName %>
                          </td>
                          <td>
                            <%= data_value.cropsCultivar %>
                          </td>
                          <td>
                            <%= data_value.cdName %>
                          </td>
                          <td>
                            <%= data_value.cdOccurDate %>
                          </td>
                        </tr>
                        <% } %>
                      </tbody>
                    </table>
                    <nav>
                      <ul class="pagination justify-content-center mt-5">
                        <% if(p_num == 1) { %>
                            <li class="page-item"><a id="prev" class="page-link" style="color: black; display:none;" href="/dash/pest/<%=Number(p_num)-1%>">">이전</a></li>
                        <% } else if (p_num > 1) { %>
                            <li class="page-item"><a id="prev" class="page-link" style="color: black; display:block;" href="/dash/pest/<%=Number(p_num)-1%>">이전</a></li>
                        <% } %>
                        <% for(var j = 1; j<= Math.ceil(db_data.length / max_value); j++){ %>
                          <%if(j != p_num){%>
                            <li class="page-item"><a class="page-link" style="color: black;" href="/dash/pest/<%= j %>"><%= j %></a>
                          <%}else{%>
                            <li class="page-item"><a class="page-link" style="color: black; background-color: #c8c8c8;" href="/dash/pest/<%= j %>"><%= j %></a>
                          <%}%>
                        <% } if(p_num == Math.ceil(db_data.length / max_value)) { %>
                            <li class="page-item"><a id="next" class="page-link" style="color: black; display:none;" href="/dash/pest/<%=Number(p_num)+1%>">다음</a></li>
                        <% } else if (p_num < Math.ceil(db_data.length / max_value)) { %>
                            <li class="page-item"><a id="next" class="page-link" style="color: black; display:block;" href="/dash/pest/<%=Number(p_num)+1%>">다음</a></li>
                        <% } %></ul>
                    </nav>
                  </div>
                </div>
              </div>
          </div>
        </div>

<% include ../include/dash_footer %>